/target
**/*.rs.bk
Cargo.lock
libopusfile/.libs/libopusfile.lai
libopusfile/.libs/libopusfile.a
libopusfile/.libs/libopusurl.a
libopusfile/.libs/libopusurl.lai
libopusfile/Makefile
libopusfile/Makefile.in
libopusfile/aclocal.m4
libopusfile/config.h
libopusfile/config.log
libopusfile/config.status
libopusfile/configure
libopusfile/examples/.deps/opusfile_example.Po
libopusfile/examples/.deps/seeking_example.Po
libopusfile/examples/opusfile_example
libopusfile/examples/opusfile_example.o
libopusfile/examples/seeking_example
libopusfile/examples/seeking_example.o
libopusfile/libopusfile.la
libopusfile/libopusurl.la
libopusfile/libtool
libopusfile/opusfile.pc
libopusfile/opusurl-uninstalled.pc
libopusfile/opusurl.pc
libopusfile/src/.deps/info.Plo
libopusfile/src/.deps/internal.Plo
libopusfile/src/.deps/libopusurl_la-http.Plo
libopusfile/src/.deps/libopusurl_la-internal.Plo
libopusfile/src/.deps/opusfile.Plo
libopusfile/src/.deps/stream.Plo
libopusfile/src/info.o
libopusfile/src/internal.o
libopusfile/src/libopusurl_la-http.o
libopusfile/src/libopusurl_la-internal.o
libopusfile/src/opusfile.o
libopusfile/src/stream.o