body 
{
	font-family: Verdana, Geneva, sans-serif;
	background-color: thistle;

}

.header 
{
	margin-left:1em;
}
/* Element | file:///K:/Final%20Shit/Musicy.html */

.header > h1:nth-child(1) {
  margin-bottom: 0px;
}

/* Element | file:///K:/Final%20Shit/Musicy.html */

.header > p:nth-child(2) {
  margin-bottom: 0px;
  margin-top: 2px;
}

/* Element | file:///K:/Final%20Shit/Musicy.html */

.header > p:nth-child(3) {
  margin-top: 0px;
}


/* Element | file:///K:/Final%20Shit/Musicy.html */

body > div.button img {
  height: 75px;
}
body > div.button img:hover {
	opacity: 0.5;
}


.cover {

	/*border: 1px solid black;*/
	height: 500px;
	width:  500px;
    margin-bottom: 30px;
    margin-left: 16px;
    
}
.cover > img {
	height: 500px;
	width:  500px;
}

body > div.button {
	display: flex;
	margin-left: 16px;
	/* justify-items: stretch; */
	justify-content: space-around;
	width: 500px;
}

#desc_btn {
	border-radius: .5rem;
	background-color: #d5fdef;
	font-size: large;
	font-family: Verdana, Geneva, sans-serif;
}

#desc_text {
	/*height: 110px;*/
	width: 600px;
	background-color: #1efa68;
    border-left-style: solid;
    border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #1efa68;
	border-left-color: #00802b;
	border-left-width: 10px;
    padding-bottom: 1px;
    padding-left: 7px;
	border-radius: 8px;
}

#description {
	position: fixed;
    bottom: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}