body 
{
	font-family: Verdana, Geneva, sans-serif;
	background-color: thistle;
}

div.content {
	display: flex;
}

body > * {
	margin: auto 1em;
}

div.right {
	margin-top: 0;
	margin-left: 1.5em;
}

div.right > *:first-child {
	margin-top: 0;
}

/* Element | file:///K:/Final%20Shit/Musicy.html */

.header > h1:nth-child(1) {
  margin-bottom: 0px;
}

/* Element | file:///K:/Final%20Shit/Musicy.html */

.header > p:nth-child(2) {
  margin-bottom: 0px;
  margin-top: 2px;
}

/* Element | file:///K:/Final%20Shit/Musicy.html */

.header > p:nth-child(3) {
  margin-top: 0px;
}


/* Element | file:///K:/Final%20Shit/Musicy.html */

div.left > div.button img {
  height: 75px;
}
div.left > div.button img:hover {
	opacity: 0.5;
}


#cover {

	/*border: 1px solid black;*/
	height: 500px;
	width:  500px;
    margin-bottom: 1em;
    
}
#cover > img {
	height: 500px;
	width:  500px;
}

div.left > div.button {
	display: flex;
	justify-content: space-around;
	width: 500px;
	margin-top: 1em;
}

div.left > div#tags {
	margin: .5em;
	text-align: center;
	font-size: large;
}

div#tags span#artist {
	font-style: italic;
}

div#tags span#title {
	font-size: x-large;
	font-weight: bold;
}


.btn {
	border-radius: .5rem;
	background-color: #d5fdef;
	font-size: large;
	font-family: Verdana, Geneva, sans-serif;
}

#desc_text {
	/*height: 110px;*/
	background-color: #1efa68;

    border-left-style: solid;
	border-left-color: #00802b;
	border-left-width: 10px;
	border-radius: 8px;

	padding-left: 7px;
	padding-top: 1em;
	padding-bottom: 1em;
}

#description {
	position: fixed;
	bottom: 0px;
	margin-bottom: 1em;
}

ol#playlist {
	padding-left: 0;
	list-style: inside decimal;
	display: flex;
	flex-direction: column;
}

ol#playlist > li {
	padding: 1rem;
	border: 1.2pt solid black;
}

ol#playlist > li:hover {
	background: rgb(181, 160, 181);
}

ol#playlist > li:not(:first-child) {
	border-top: 0pt;
}

ol#playlist > li .pl-artist {
	font-size: small;
	font-style: italic;
}

ol#playlist > li .pl-artist::before {
	content: "by ";
	margin-left: 3pt;
}

ol#playlist > li .pl-album::before {
	content: "- ";
	margin-left: 3pt;
}

ol#playlist > li > span {
	white-space: nowrap;
}

ol#playlist > li .pl-album {
	font-size: small;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.right > div.horizontal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.right > div.horizontal > * {
	margin: 0;
	height: 100%;
}

.btn-pl-add {
	height: 100%;
}